<form action="/Home/AddCat" method="post">
    <ul>
        <li class="list-unstyled">
            <label for="name">Name:</label>
            <input type="text" name="name"/>
        </li>
        <li class="list-unstyled">
            <label for="age">Age:</label>
            <input type="number" name="age"/>
        </li>
        <li class="list-unstyled">
            <label for="breed">Breed:</label>
            <input type="text" name="breed"/>
        </li>
        <li class="list-unstyled">
            <label for="name">ImageUrl:</label>
            <input type="text" name="imageUrl"/>
        </li>
    </ul>
    <button type="submit">Add Cat</button>
</form>